@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.montserratuniquifier {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --cor1: #f3c7bd;
  --cor2: #dfa196;
  --cor3: #cb7d47;
  --cor4: #b75b56;
  --cor5: #a33c3c;
  --cor6: #8f262b;
  --cor7: #7b141e;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  min-height: 100vh;
  max-width: 100vw;
  width: 100%;
  background: radial-gradient(var(--cor4) 40%, var(--cor7));
  background-attachment: fixed;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > h1 {
  margin: 10px;
  font-family: "Great Vibes";
  text-shadow: 2px 2px 0px var(--cor7);
  color: var(--cor1);
  font-size: 2.5em;
}

p {
  color: var(--cor1);
  font-weight: bold;
  text-shadow: 2px 2px 0px var(--cor7);
}

article {
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  padding: 10px 25px 10px 25px;
}

.gifs {
  margin: 20px 0px 10px 0px;
  width: 298px;
  height: 200px;
  border-radius: 35px;
  box-shadow: 0px 0px 10px black;
}

#titulo2 {
  padding: 10px;
  text-align: center;
  color: var(--cor1);
  text-shadow: 2px 2px 0px var(--cor7);
}
