@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

:root {
  --cor1: #f3c7bd;
  --cor2: #dfa196;
  --cor3: #cb7d47;
  --cor4: #b75b56;
  --cor5: #a33c3c;
  --cor6: #8f262b;
  --cor7: #7b141e;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-image: linear-gradient(90deg, var(--cor5), var(--cor6) 80%);
  overflow-x: hidden;
}

h1 {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.391);
}

.corpo {
  color: var(--cor1);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.391);
  font-size: 1.2em;
  margin: 10px;
}

#esquerda {
  animation: aparecerEsquerda 1s forwards;
  animation-delay: 1s;
  opacity: 0;
}

#direita {
  animation: aparecerDireita 1s forwards;
  animation-delay: 1s;
  opacity: 0;
}

@keyframes aparecerDireita {
  from {
    opacity: 0;
    transform: translateX(50px); /* Opcional: ele vem levemente de cima */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes aparecerEsquerda {
  from {
    opacity: 0;
    transform: translateX(-50px); /* Opcional: ele vem levemente de cima */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
header {
  text-align: center;
  background-color: var(--cor7);
  color: var(--cor2);
  padding: 15px;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.393);
  animation: aparecerSuave 1s forwards;
  animation-delay: 0.3s;
  opacity: 0;
}

@keyframes aparecerSuave {
  from {
    opacity: 0;
    transform: translateY(-10px); /* Opcional: ele vem levemente de cima */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  font-family: "Great Vibes", cursive;
  font-size: 60px;
}

.img {
  height: 200px;
  width: 400px;
}

#imagem1 {
  animation: imagemDireita 1s forwards;
  animation-delay: 1s;
  opacity: 0;
  height: 380px;
  border-radius: 5px;
  border: 3px solid var(--cor7);
  box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.412);
}

#imagem2 {
  animation: imagemEsquerda 1s forwards;
  animation-delay: 1s;
  opacity: 0;
  height: 320px;
  border-radius: 5px;
  border: 3px solid var(--cor7);
  border: 3px solid var(--cor7);
  box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.412);
}

#imagem3 {
  animation: imagemDireita 1s forwards;
  animation-delay: 1s;
  opacity: 0;
  height: 380px;
  border-radius: 5px;
  border: 3px solid var(--cor7);
  border: 3px solid var(--cor7);
  box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.412);
}

@keyframes imagemDireita {
  from {
    opacity: 0;
    transform: translateX(30px); /* Opcional: ele vem levemente de cima */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes imagemEsquerda {
  from {
    opacity: 0;
    transform: translateX(-30px); /* Opcional: ele vem levemente de cima */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.grid {
  display: flex;
  align-items: center;
  margin: 30px;
}

footer {
  color: var(--cor1);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.391);
  font-size: 1.2em;
  margin: 0;
  padding: 15px;
  background-color: var(--cor7);
}
